<div class="row">
    <div class="container">

    <div class="logo">
        <img src="../../../assets/ArgentinaPrograma.jpg" id="logoApp">
    </div>

 <div class="redes">
      <ul class="list">
        <li class="icon-item"> <a class="icon-link" href=""> <img src="../../assets/001-facebook.png"> </a> </li>
        <li class="icon-item"> <a class="icon-link" href=""> <img src="../../../assets/002-gorjeo.png"> </a> </li>
        <li class="icon-item"> <a class="icon-link" href=""> <img src="../../../assets/003-instagram.png"> </a> </li>
        <li class="icon-item"> <a class="icon-link" href=""> <img src="../../../assets/004-linkedin.png"> </a> </li>
        <button type="button" class="btn btn-outline-dark">Ingreso </button>
      </ul>
    </div>  
</div>
</div>