<div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/SantiPic.jpeg" alt="Santiago" class="img-fluid" id="fotoDePerfil">
     </div>
    
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"  id="name">
        <p id="nombre">Santiago Siebenhart</p>
        <p>Full Stack Devoloper Jr.</p>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam doloribus consectetur earum quasi corrupti fugiat minus minima voluptatem aut sequi facere fugit iste illo, repellendus amet, laudantium, maxime veritatis animi?
            </p>
        </span>
    </div>
    
</div>